body{
    background-color: aquamarine;
}

div{
    padding: 20px;
    background-color: bisque;
}

.vermelha{
    background-color: firebrick;
    color: white;
}

.grande{
    height: 90px;
}

#redonda{
    font-size: 50px;
    text-align: center;
    border-radius: 50%;
}

